.content_cards {
    width: 100%;
    padding: 1rem;
    background-color: #eee;
}

.content_cards > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    row-gap: 30px;
    column-gap: 20px;     
}

.content_cards .card {
    flex-basis: 340px;
    box-shadow: 0 0 10px #000;
    border-radius: 15px;
    /* max-width: 579px; */    
}

.card picture {
    flex: 1;
    flex-basis: 190px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.card picture img {
    width: 100%;
    border-radius: 10px;
}

.card .content_text {
    flex: 2;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem;
}

.card:hover img {
    transition: all 0.5s;
    filter: grayscale(0%);
}

.card .content_text h2 {
    color: var(--light_blue);
    transition: all 0.5s;
}

.card h2 {
    font-size: clamp(16px, 5vw, 23px);
    margin-bottom: 10px;
}

.card p {
    font-size: clamp(14px, 3vw, 16px);
}

.content_cards h2 {
    font-size: clamp(23px, 6vw, 26px);
}

.card .content_btn button {
    background-color: var(--light_blue);
    color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: clamp(14px, 3vw, 5px);
    width: 10vw;
    min-width: 90%;
    height: 40px;
    cursor: pointer;
}

.card .content_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

@media (max-width: 560px) {
    .card .content_btn button {
        width: 100%;
    }
}

@media (max-width: 1120px) {
    .content_cards > div {
        justify-content: space-around;
    }
}