* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  font-size: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
  background-color: var(--light_blue);
  transition: all 0.5s;
  z-index: 1;
}

nav .nav2_1 {
  /* width: 100%; */
  font-size: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
  background-color: var(--light_blue);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style: none;
}

nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul li:first-child picture img {
  width: 90px;
}

nav ul li:first-child picture {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
}

nav .nav2 li {
  cursor: pointer;
}

nav ul li .line {
  background-color: #ddd;
  width: 0px;
  min-height: 1.5px;
}

nav ul li a:hover {
  color: #ddd;
  transition: all 0.5s;
}

nav ul li a:hover + .line {
  width: 100%;
  transition: all 0.5s;
}

nav ul li a:not(:hover) + .line {
  width: 0%;
  transition: all 0.5s;
}

/* Video */

.content_media div video {
  width: 100%;
}

.content_media div {
  width: 100%;
  position: relative;
}

.content_media {
  height: 38vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

.content_media div label {
  font-size: 5vw;
  top: 25vw;
  left: 0;
  color: #eeeeeee9;
  width: 100%;
  text-align: center;
  font-family: "Protest Guerrilla";
  position: absolute;
  transform: translateX(-100%);
  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.nav2 {
  display: none;
}

nav {
  top: -200px;
}

.popchat,
.up {
  position: fixed;
  left: 94vw;
  bottom: 30px;
  background-color: var(--light_blue);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.social picture img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.social {
  position: fixed;
  bottom: 88px;
  left: 94vw;
  z-index: 1;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

.instagram {
  bottom: 150px;
}

.whatsapp {
  bottom: 210px;
}

.up {
  bottom: 90px;
  display: none;
}

.content_media div .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0px;
}

.content_media div .logo img {
  width: 30%;
  animation-name: logo;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

@keyframes title {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes navBar {
  0% {
    height: 0%;
  }

  50% {
    height: 0px;
  }

  100% {
    height: 200px;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1147px) {
  .content_media div label {
    top: 55%;
  }
}

@media (max-width: 640px) {
  nav {
    flex-direction: column;
    padding: 0px;
  }

  .nav2 {
    display: flex;
  }

  .nav2_1 {
    width: 100%;
  }

  .nav1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 0px;
    overflow-y: hidden;
    background-color: #ddd;
    transition: height 0.5s ease-in-out;
  }

  .nav1 li a {
    color: #000;
  }

  .nav1 li a:hover {
    color: var(--light_blue);
  }

  nav ul li .line {
    background-color: var(--light_blue);
  }

  nav ul li:first-child picture img {
    width: 72px;
  }

  .popchat,
  .up {
    left: 85vw;
  }
  /* .up {
    bottom: 30px;
  } */
}

@media (max-width: 1020px) {
  .popchat,
  .up,
  .social {
    left: 93vw;
  }
}

@media (max-width: 726px) {
  .popchat,
  .up,
  .social {
    left: 90vw;
  }
}

@media (max-width: 550px) {
  .popchat,
  .up,
  .social {
    left: 80vw;
    width: 45px;
    height: 45px;
  }

  .social {
    width: 45px;
  }
}
