* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  font-size: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
  background-color: var(--light_blue);
}

nav .nav2_1 {
  /* width: 100%; */
  font-size: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
  background-color: var(--light_blue);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style: none;
}

nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul li:first-child picture img {
  width: 90px;
}

nav ul li:first-child picture {
  display: flex;
  flex-direction: row;
}

nav ul li a {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
}

nav .nav2 li {
  cursor: pointer;
}

nav ul li .line {
  background-color: #ddd;
  width: 0px;
  min-height: 1.5px;
}

nav ul li a:hover {
  color: #ddd;
  transition: all 0.5s;
}

nav ul li a:hover + .line {
  width: 100%;
  transition: all 0.5s;
}

nav ul li a:not(:hover) + .line {
  width: 0%;
  transition: all 0.5s;
}

/* Video */

.content_media div video {
  width: 100%;
}

.content_media div {
  width: 100%;
  position: relative;
}

.content_media {
  height: 70vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.content_media div label {
  font-size: 5vw;
  top: 40%;
  left: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  font-family: "Protest Guerrilla";
  position: absolute;
  transform: translateX(-100%);
  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.nav2 {
  display: none;
}

@keyframes title {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes navBar {
  0% {
    height: 0%;
  }

  50% {
    height: 0px;
  }

  100% {
    height: 200px;
  }
}

@media (max-width: 1147px) {
  .content_media div label {
    top: 55%;
  }
}

@media (max-width: 640px) {
  nav {
    flex-direction: column;
    padding: 0px;
  }

  .nav2 {
    display: flex;
  }

  .nav2_1 {
    width: 100%;
  }

  .nav1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 0px;
    overflow-y: hidden;
    background-color: #ddd;
    transition: height 0.5s ease-in-out;
  }

  .nav1 li a {
    color: #000;
  }

  .nav1 li a:hover {
    color: var(--light_blue);
  }

  nav ul li .line {
    background-color: var(--light_blue);
  }
  /* 
  .animate_bar {
    animation-name: navBar;
    animation-duration: 1s;
    animation-fill-mode: initial;
    animation-iteration-count: 1;
  } */
}
