:root {
  --gray_triada: #bab8b5;
  --light_blue: #254587;
  --strong_blue: #04043d;
  --text_size: 18px;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.label {
  color: var(--light_blue);
}